In [1]:
import pandas as pd

data = pd.read_csv('Data/Cleaned/Integrated_data.csv')
data['date'] = pd.to_datetime(data['date'])

# Create the list of dates and mean glucose values
date_list = data[['date', 'mean_glucose']].dropna().sort_values(by='date')

In [2]:
date_list

         date  mean_glucose
11 2024-03-23    114.419355
12 2024-03-24    107.410256
13 2024-03-25     99.793103
14 2024-03-26    100.968421
15 2024-03-27    109.431818
..        ...           ...
77 2024-05-28    117.143519
78 2024-05-29    105.269912
79 2024-05-30    118.585714
80 2024-05-31    102.717593
81 2024-06-01    111.500000

[63 rows x 2 columns]